/* Colour scheme: https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d80032 */

.App {
  text-align: center;
  /* ANTI-FLASH WHITE */
  background-color: #EDF2F4;
}

.App-nav {
  /* RED (PANTONE) */
  background-color: #EF233C;
  /* ANTI-FLASH WHITE */
  color: #EDF2F4;
}

.App-nav-item > a {
  /* GRAY-BLUE */
  /*color: #8D99AE !important;*/
  /* ANTI-FLASH WHITE */
  color: #EDF2F4;
}

.App-nav-item > a:hover {
  /* GRAY-BLUE */
  color: #8D99AE !important;
}

.App-icon {
  margin: 0 10px;
}

.App-list-item {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
